---
const { tags = [] } = Astro.props as {
  tags?: string[];
};
---

{
  tags.length > 0 && (
    <div class="tag-list" aria-label="Tags">
      {tags.map((tag) => <span class="pill">{tag}</span>)}
    </div>
  )
}
